<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858209307894-68l4ea5hff7hc1u9mi6fhlpiqcdbgf6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858209307894-68l4ea5hff7hc1u9mi6fhlpiqcdbgf6r</string>
	<key>API_KEY</key>
	<string>AIzaSyCIYGwzR-RGL-ARZBXD7X-Frc5VXEUGFvU</string>
	<key>GCM_SENDER_ID</key>
	<string>858209307894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mudit.instaclone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-kuchi</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-kuchi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858209307894:ios:ad2918f1ce6ce782cb70d7</string>
</dict>
</plist>